ul li {
  list-style-type: none;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.grid-container {
  display: grid;
  align-content: center;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  border: 2px dashed gray;
  padding: 10px;
  margin: 10px auto;
}

.active-filter-text {
  background-color: var(--blue-0);
  color: var(--white-1);
  border-radius: 10px;
  padding: 8px;
  text-align: right;
  margin: 2px;
}

.active-filter-text:hover {
  background-color: var(--green-0);
  color: var(--black-0);
}

.active-filter-chk {
  background-color: var(--blue-1);
  color: var(--black-1);
  border: none;
  border-radius: 10px;
  text-align: center;
  vertical-align: center;
  padding: 2px;
}

.grid-item {
}

.grid-submit {
  grid-column: span 2;
}

ul.filtered-container {
  display: flex;
  align-content: center;
  justify-items: left;
  /* grid-gap: 5px;
  grid-template-columns: 1fr 1fr; */
  border: 2px dashed gray;
  padding: 10px;
  margin: 10px auto;
  flex-wrap: flex;
}

button.grid-submit {
  background-color: var(--blue-0);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button.grid-submit:hover {
  background-color: var(--green-0);
}

#filter-chk {
  display: none;
}

.filter-button {
  display: none;
}

/* MOBILE */
@media screen and (max-width: 600px) {
  #filter-chk:checked ~ .filter-menu-view {
    display: inline;
  }
  #filter-chk ~ .filter-menu-view {
    display: none;
  }

  ul {
    width: 100%;
    background-color: var(--white-1);
    padding-left: 0;
  }

  li {
    padding: 10px;
  }

  li.grid-item:nth-child(odd) {
    background-color: var(--blue-0);
  }
  li:hover:nth-child(odd) {
    background-color: var(--green-0);
  }

  li.grid-item:nth-child(even) {
    background-color: var(--blue-1);
  }

  li:hover:nth-child(even) {
    background-color: var(--green-1);
  }

  .filter-button {
    display: inline;
    position: absolute;
    right: 25px;
    top: 50px;
    transform: scale(1.2);
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
  }

  li {
    color: var(--red-0);
    font-weight: bold;
    width: 100%;
  }

  ul.grid-container,
  ul.filtered-container {
    align-content: center;
    width: 100%;
    height: auto;
    /* grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  li,
  .col-25,
  .col-75,
  input[type="submit"],
  input[type="date"],
  div.filter-container,
  .grid-submit {
    width: 100%;
    margin-top: 0;
  }
  button.grid-submit {
    height: 40px;
  }
}
