:root {
  /*Add colors here!*/
  --black-0: #011627;
  --black-1: #5d6a75;

  --red-0: #ba264b;
  --red-1: #ff3366;

  --green-0: #2ec4b6;
  --green-1: #2ab3a6;

  --white-0: #f6f7f8;
  --white-1: #e0e1e2;

  --blue-0: #20a4f3;
  --blue-1: #1e96dd;
}

nav.nav-bar {
  overflow: hidden;
  background-color: var(--black-0);
  display: inline-block;
  width: 100%;
}

.hidden {
  display: none;
}

/*Rendering burger-menu*/
.burger-menu {
  display: none;
  list-style-type: none;
  position: absolute;
  bottom: 50px;
  right: 0px;
}
#site-nav-control {
  display: none;
}

nav .nav-btn-active {
  background-color: var(--green-0);
  color: var(--white-0);
}

nav .nav-btn:hover {
  background-color: var(--blue-0);
  color: var(--white-0);
}

nav .nav-btn-active:hover {
  background-color: var(--blue-0);
}

nav .nav-btn {
  float: left;
  display: block;
  color: var(--white-0);
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}

.navlink:hover {
  background-color: var(--white-0);
  color: var(--black-0);
}

#menu-icon {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: var(--blue-0);
  padding: 5px;
  border-radius: 5px;
  transform: scale(2);
  color: var(--white-0);
}

/* MOBILE */
@media screen and (max-width: 600px) {
  #menu-icon {
    display: inline-block;
  }
  #site-nav-control:checked ~ nav {
    display: block;
  }

  .burger-menu {
    display: block;
  }

  #site-nav-control ~ nav {
    display: none;
  }

  nav ul {
    width: 100%;
    background-color: var(--white-1);
    padding-left: 0;
  }

  nav li {
    padding: 10px;
  }

  nav li:nth-child(odd) {
    background-color: var(--blue-0);
  }
  nav li:hover:nth-child(odd) {
    background-color: var(--green-0);
  }

  nav li:nth-child(even) {
    background-color: var(--blue-1);
  }

  nav li:hover:nth-child(even) {
    background-color: var(--green-1);
  }

  nav li .nav-mobile {
    color: var(--red-0);
    font-size: 24px;
    font-weight: bold;
  }
  nav .nav-btn {
    visibility: hidden;
    display: none;
    position: absolute;
    padding: 0px;
  }

  nav .nav-btn-active {
    background-color: var(--green-1);
    color: var(--white-0);
  }
}
